name: CI
on:
  workflow_dispatch:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
    tags: '*'
jobs:
  test:
    name: Julia ${{ matrix.version }}
    runs-on: ubuntu-latest
    env:
      JULIA_PKG_SERVER: ""
      JULIA_NUM_THREADS: "4"
      DISPLAY: ":99"
      LIBGL_ALWAYS_SOFTWARE: "1"
      MESA_GL_VERSION_OVERRIDE: "4.5"
      MESA_GLSL_VERSION_OVERRIDE: "450"
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.10'
          - '1'
    steps:
      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y xvfb mesa-utils mesa-vulkan-drivers dbus
      - name: Start Virtual Display
        run: |
          Xvfb :99 -screen 0 1920x1080x24 &
          eval $(dbus-launch)
          export DBUS_SESSION_BUS_ADDRESS
          export DBUS_SESSION_BUS_PID
      - name: Checkout
        uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.version }}
          arch: x64
      - uses: julia-actions/cache@v1
      - name: Install Jupyter test dependencies
        run: |
          julia --project=@. -e '
            using Pkg
            Pkg.add(["IJulia", "Conda"])
            using Conda
            Conda.add("jupyterlab")
            Conda.add("notebook")
          '
          # Add Conda bin to PATH before installing kernel so it's captured in kernel.json
          export PATH="$HOME/.julia/conda/3/x86_64/bin:$PATH"
          julia --project=@. -e '
            using IJulia
            IJulia.installkernel("Julia")
          '
      - name: Add Conda to PATH
        run: echo "$HOME/.julia/conda/3/x86_64/bin" >> $GITHUB_PATH
      - name: Run headless test
        uses: GabrielBB/xvfb-action@v1
        with:
          run: julia --project=@. -e "using Pkg; Pkg.test(coverage=true)"
