name: CI
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
    tags: '*'
jobs:
  test:
    name: Julia ${{ matrix.version }}
    runs-on: ubuntu-latest
    env:
      JULIA_PKG_SERVER: ""
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.6'
          - '1' # Leave this line unchanged. '1' will automatically expand to the latest stable 1.x release of Julia.
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.version }}
          arch: x64
      - uses: julia-actions/cache@v1
      - name: Run headless test
        uses: GabrielBB/xvfb-action@v1
        with:
          run: julia --project=@. -e "using Pkg; Pkg.test(coverage=true)"
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v1
        with:
          file: lcov.info
